@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,900');
.movie-card {
  margin-left: 40px;
  margin-right: 20px;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
  }

  .movie-card-tile{
    width:500px;
  height:250px;
  margin:20px;
  background-color:#ff8b88;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  overflow:hidden;
  color:white;
  
  
  }
  
  .movie-card-tile .movie-card-image {
    height:100%;
    position:absolute;
    top:0;
    left:0;
    z-index:0;
    transition: all 0.4s ease-out;
  }
  .movie-card-tile .movie-card-title {
    /*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  font-weight: bold;
  }
  .movie-card-title {
    font-family: 'Raleway', sans-serif;

  }

  .movie-card-tile h5 {
    font-weight:100;
    margin:20px 0 0 0;
    font-style:italic;
     transform: translateX(200px);
     padding: 10px;
     margin-top: 50px;
     margin-left: 10px;
     font-size: 20px;
     font-weight: bold;
  }
  
  .movie-card-tile p {
    font-weight:300;
    margin:5px 0 0 0;
    line-height: 25px;
  /*   opacity:0; */
    transform: translateX(-200px);
    transition-delay: 0.2s;
    padding: 10px;
    font-family:'Roboto';
  }

  .movie-card-animate {
    opacity:0;
  transition: all 0.6s ease-in-out;
  }

  .movie-card-tile:hover {
    /*   background-color:#99aeff; */
   box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
   transform:scale(1.05); 
  }

  .movie-card-tile:hover .movie-card-image {
    opacity: 0.2;
  }

  .movie-card-tile:hover .movie-card-animate {
    transform:translateX(0);
  opacity:1;
  }

  
    .movie-card {
     flex-direction: row;
      width:350px;
    } 

    
  .container{
    margin: auto;
    background-color: #f0f0f0;
    position: relative;
    display: flex;
  }

  .container-button .modal-button-open {
  
  height: 30px;
  position: absolute;
  outline: 0;
  display: block;
  color: rgb(228, 128, 190);
  border-radius: 100%;
  width: 30px;
  outline: none;
    box-shadow: none;
    text-align: center;
    background: transparent;
    border: transparent;
  }

  button {
    font-weight: bold;
    text-align: center;
    font-size: 20px;
  }
  

.modal {
  border: 2px solid #17a589;
  box-shadow: 5px 6px 0px #17a589;
  transition: 0.3s all;
  border-radius: 3px;
  width: 100%

  
}

.modal-header{
  font-size: 26px;
  margin-top: 5px;
  color: #17a589;
  width: 100%;
font-size: 18px;
text-align: center;
padding: 5px;
font-family: 'Roboto';
font-weight: bold;
font-family: 'Raleway', sans-serif;

}

.modal-content{
text-align: center;
padding: 60px;
color: rgb(100, 109, 117);
font-family: 'Roboto';
font-size: 18px;
}

